<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- create pages -->
    {% for page in site.pages %}
        <a href="{{page.url}}">{{page.title}}</a>
    {% endfor %}
    <hr><br>

    {% for post in site.posts %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% endfor %}

    <h4>Team</h4>
    {% for person in site.data.people %}
        <li>{{person.name}}: {{person.role}}</li>
    {% endfor%}
</body>
</html>